@model IEnumerable<TesteS2IT.Models.Friend>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<h2>Lista de Amigos</h2>
<table class="table table-striped table-bordered dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="example_info" id="tblFriends">
    <thead>
        <tr>
            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 256px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Nome</th>
            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 256px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Endereço</th>
            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 256px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Telefone</th>
            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 256px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">E-mail</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            <button type="button" class="btn btn-link" data-item="@item.ID">Deletar</button>
        </td>
    </tr>
}

</table>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-link").click(function () {
                var id = $(this).attr('data-item');
                if (confirm("Você tem certeza que gostaria de excluir este registro?")) {
                    $.ajax({
                        method: "POST",
                        url: "/Friends/Delete/" + id,
                        success: function (data) {
                            $("#tblFriends tbody > tr").remove();
                            $.each(data, function (i, friend) {
                                $("#tblFriends tbody").append(
                                    "<tr>" +
                                    "   <td>" + friend.Name + "</td>" +
                                    "   <td>" + friend.Address + "</td>" +
                                    "   <td>" + friend.Phone + "</td>" +
                                    "   <td>" + friend.Mail + "</td>" +
                                    "   <td>" +
                                    "       <a href='/Games/Edit/" + friend.ID + "'>Editar</a> |" +
                                    "       <button type=\"button\" class=\"btn btn-link\" data-item=\"" + friend.ID + "\">Deletar</button>" +
                                    "   </td>" +
                                    "</tr>"
                                );
                            });
                        },
                        error: function (data) {
                            alert("Houve um erro na pesquisa.");
                        }
                    });
                }
            });
        });
    </script>
}
