@model IEnumerable<TesteS2IT.Models.Lending>
@{
    ViewBag.Title = "Jogos Emprestados";
}

<h2>Lista de todos Empréstimos</h2>
<table class="table table-striped table-bordered dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="example_info" id="tblLending">
    <thead>
        <tr>
            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 256px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Jogo</th>
            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 256px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Amigo</th>
            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 256px;" aria-sort="ascending" aria-label="Date: activate to sort column descending">Empréstimo</th>
            <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 256px;" aria-sort="ascending" aria-label="Date: activate to sort column descending">Devolução</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Games.Name, "Edit", "Games", new { id = item.ID }, null)
                </td>
                <td>
                    @Html.ActionLink(item.Friend.Name, "Edit","Friends", new { id = item.ID }, null)
                </td>
                <td>
                    @(item.DateLended.HasValue ? item.DateLended.Value.ToString("dd/MM/yyyy") : "-")
                </td>
                <td>
                    @(item.DateReturned.HasValue ? item.DateReturned.Value.ToString("dd/MM/yyyy") : "-")
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    <button type="button" class="btn btn-link" data-item="@item.ID">Deletar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-link").click(function () {
                var id = $(this).attr('data-item');
                if (confirm("Você tem certeza que gostaria de excluir este registro?")) {
                    $.ajax({
                        method: "POST",
                        url: "/Lending/Delete/" + id,
                        success: function (data) {
                            $("#tblLending tbody > tr").remove();
                            $.each(data, function (i, lending) {
                                $("#tblLending tbody").append(
                                    "<tr>" +
                                    "   <td>" + lending.Games.Name + "</td>" +
                                    "   <td>" + pessoa.Friends.Name + "</td>" +
                                    "   <td>" + pessoa.DateLended + "</td>" +
                                    "   <td>" + pessoa.DateReturned + "</td>" +
                                    "   <td>" +
                                    "       <a href='/Lending/Edit/" + lending.ID + "'>Editar</a> |" +
                                    "       <button type=\"button\" class=\"btn btn-link\" data-item=\"" + lending.ID + "\">Deletar</button>" +
                                    "   </td>" +
                                    "</tr>"
                                );
                            });
                        },
                        error: function (data) {
                            alert("Houve um erro na pesquisa.");
                        }
                    });
                }
            });
        });
    </script>
}
